:root:not([customizing]) #nav-bar
{
  min-height : 2.5em       !important;
  height     : 2.5em       !important;
  margin     : 0 0 -2.5em  !important;
  z-index    : -1000       !important;
  opacity    : 0           !important;
}

:root:not([customizing]) #nav-bar:focus-within
{
  z-index    : 1000        !important;
  opacity    : 1           !important;
}

#tabbrowser-tabs {
    --tab-min-height: 0px;
}

#tabbrowser-tabs tab[first-visible-tab="true"][last-visible-tab="true"] {
    visibility: collapse;
}

#tabbrowser-tabs tab[first-visible-tab="true"] + #tabs-newtab-button {
    visibility: collapse;
}

.tabbrowser-tab[fadein]{ max-width: 100vw !important; border: none }
